@{
    ViewData["Title"] = "Big Brother is watching you";
}

<div class="d-flex justify-content-center p-2">
    <button class="btn btn-primary" id="btnRastrear">Rastrear</button>
</div>
<div class="d-flex justify-content-center p-2">
    <div class="card">
        <div class="card-body" id="resultado" style="min-width: 800px;">
        </div>
    </div>
</div>